div {
	margin: 0 auto;
	padding: 0;	
}

div div {
	background: #A4CA39;
	position: relative;
}

.android {
	margin: 100px auto;
	width:334px;
	height: 404px;
}

.head {
	width:220px;
	height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;	
}

.l-eye, .r-eye {
	width: 20px;
	height: 20px;
	background: #fff;
	position: absolute;
	top: 42px;
	border-radius: 20px;
}

.l-eye {
	left: 50px;
}

.r-eye {
	right: 50px;
}

.l-ant, .r-ant {
	height: 70px;
	width: 10px;
	position: absolute;
	top: -40px;
}

.l-ant {
	left: 10px;
	transform: rotate(-38deg);
}

.r-ant {
	right: 10px;
	transform: rotate(38deg);
}

.body {
	height: 184px;
	width: 220px;
	top: 40px;
	border-radius: 0 0 25px 25px;
}

.l-arm, .r-arm, .l-leg, .r-leg {
	position: absolute;
	width: 50px;
}

.l-arm, .r-arm {
	height: 150px;
	border-radius: 50px;
}

.l-arm {
	left: -58px;
}

.r-arm {
	right: -58px;
}

.l-leg, .r-leg {
	top: 184px;
	height: 80px;
	border-radius: 0 0 80px 80px;
}

.l-leg {
	left: 45px;
}

.r-leg{
	right: 45px;
	}
