/* GENERAL DIV SPECS. Nested divs are positioned
	 to give child elements the ability of 
	 absolute position.*/

div {
	margin: 0 auto;
	padding: 0;	
}

div div {
	background: #A4CA39;
	position: relative;
}

/* MAIN ELEMENTS SIZE AND PLACEMENT 
	 FROM THE TOP */

.android {
	margin: 100px auto;
	width:334px;
	height: 404px;
}

.head {
	width:220px;
	height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	transition: all 0.1s linear;
}

.body {
	height: 184px;
	width: 220px;
	top: 40px;
	border-radius: 0 0 25px 25px;
}

/* HEAD ELEMENTS */

.l-ant, .r-ant {
	height: 70px;
	width: 10px;
	position: absolute;
	top: -40px;
}

.l-ant {
	left: 10px;
	transform: rotate(-38deg);
}

.r-ant {
	right: 10px;
	transform: rotate(38deg);
}

.l-eye, .r-eye {
	width: 20px;
	height: 20px;
	background: #fff;
	position: absolute;
	top: 42px;
	border-radius: 20px;
	transition: all 0.9s linear;
}

.l-eye {
	left: 50px;
}

.r-eye {
	right: 50px;
}

/* BODY ELEMENTS */

.l-arm, .r-arm, .l-leg, .r-leg {
	position: absolute;
	width: 50px;	
}

.l-arm, .r-arm {
	height: 150px;
	border-radius: 50px;
	transition: all 0.3s linear;
}

.l-arm {
	left: -58px;	
}

.r-arm {
	right: -58px;
}

.l-leg, .r-leg {
	top: 184px;
	height: 80px;
	border-radius: 0 0 80px 80px;
}

.l-leg {
	left: 45px;
}

.r-leg{
	right: 45px;
	}

	/* ANIMATIONS */

.l-arm:hover {
	transform: rotate(35deg) translate(-15px, 0px);
}

.r-arm:hover {
	transform: rotate(-35deg) translate(15px, 0px);
}

.head:hover {
	transform: translate(0px, 8px);
}

.head:hover .l-eye {
	background: #e52222;
} 

.head:hover .r-eye {
	background: #e52222;
}